a{
	color:#563D7C;
}
a:hover{
	color:#563D7C;	
}
.recommend-nav{
	margin-top: 20px;
	background-color:;
}
.recommend-nav .box{
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	text-decoration: center;
}

.recommend-nav .box ul{
	margin-top:10px;
}

.recommend-nav .box ul li{
	overflow: hidden;
	padding:5px 0px;
}

.recommend-nav .box ul li:hover{
	background-color: #F5F5F5;
}

.recommend-nav .box ul li a {

}

.recommend-nav .box ul li .tit{
	float:left;
	width:72%;
	margin:0px 5px;
}

.recommend-nav .box ul li .date{
	float:right;
	width:20%;
}

.recommend-nav .box ul li .ranking{
	float:left;
	width:13%;
	margin:2px 5px;
	background-color:#463265;
}


/*上路导航右边*/
.navbar-inverse .navbar-form.input{
	margin-right: 0;
}

.navbar-brand{
	font-family: Comic Sans MS;
}


/*右边导航*/
.nav-tabs>li>a{
	color:#fff;
}

.nav-tabs>li>a:hover{
	color:#555;
}

.list-unstyled li a{
	color:#563D7C;
}

/*主题框*/
.main-container{
	background-color:#fff;
	border-radius: 5px;
	margin-top: 30px;
	padding:10px;
	margin-bottom:30px;
	border:1px solid #DDD;
	margin-left:20px;
	box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
}
@media (max-width: 992px) {
	.main-container{
		margin-left:0px;
	}	
}



.card-list-box{
	background:url(img/graph-bg.png) repeat;
}

.list-box .card{
	font-family: "Times New Roman", Times, Cambria, serif;
	padding:10px;
	margin:0 auto;
}

.card li{
	line-height: 18px;
	float: left;
	width: 207px;
	padding: 10px;
	border: 1px solid #DDD;
	color: #333;
	-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-moz-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: url(img/card.png);
	margin:20px 0px;
	height: 260px;
}

.card li:hover{
	background-color: #FFF;
	opacity: 1.0;
	background-position: center -30px;
}

.card li .link{
	text-align: center;
	text-decoration: none;
}
.card li .link .title{
	color: #999;
}

.card li .link:hover .title{
	color: #BA1820;
}

.card li .link .icon{
	margin: 15px 0px;
}

.card li .link .icon img{
	width:170px;
	height:90px;
}

.card li .link .icon .cnt{
	position:relative;
}

.card li .link .icon .cnt strong{
	position:absolute;
	left:0px;
	top:36px;
	background-color: #000;
	opacity: 0.8;
	height:20px;
	width:100%;
	font-weight: normal;
	color:#fff;
}

.card li .content{
	font-size: 12px;
	line-height: 12px;
	/*text-indent: 2em;*/

	margin:10px 0px;
}

.card li .public-time{
	color:#BA1820;
	font-size: 12px;
	line-height: 12px;
}

@media (min-width: 400px) {
	.card li{
		margin:20px 40px;
	}
}

@media (min-width: 992px) {
	.card li{
		margin:20px 10px;
	}
}

@media (max-width: 400px) {
	.card{
		padding-left:25px;
	}
}


/*footer*/
.footer{
	background-color:#fff;
	height:40px;
	text-align: center;
}

.footer p{
	display: inline-block;
	margin:10px;
}
.footer p a{
	color:#563D7C;
}





/*详情页*/
.detail-box{
	padding-bottom: 50px;
}
.detail-box .title{
	padding-bottom:28px;
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	line-height: 40px;
	background: url(img/underline.png) repeat-x bottom center;
}

.detail-box .type{
	margin-top:20px;
}

.detail-box .type a{
	padding:0 10px 0 0px;
	font-size:14px;
	line-height: 14px;
}

.detail-box .video{
	width:90%;
	height:400px;
	background-color:#000;
	margin:40px auto;
}

.detail-box .related-msg p{
	margin:12px 0px;
	font-size: 14px;
	line-height: 20px;
}

@media (max-width: 500px) {
	.detail-box .video{
		height:200px;
	}
}


.login-box{
	margin-top:30%;
	padding:20px;
}

@media (max-width: 800px) {
	.login-box{
		margin-top:10%;
	}
}


.video-box{

}	

.video-box h3{
	padding-bottom: 20px;
	border-bottom:1px solid #EEE;
	margin-bottom:30px;
}

.video-box .content{
	padding:30px;
}

.video-box .content .nav-tabs>li>a{
	color:#555;
}

.video-form , .video-list{
	margin:20px 0px;
}

.table>tbody>tr>td{
	vertical-align:middle;
}

.video-list .table>tbody>tr>td{
	vertical-align: middle;
}


.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a{
	border-right:none;
}

